In [3]:
!python --version

Python 3.7.4

## 예제 2-4-1 정수와 실수 알아보기

#### 리터럴표기법

In [3]:
x = 1                   ##  변수를 할당할 때  정수 1을 숫자로 표기하는 방식을 정수 리터럴 표기법이라고 한다

In [5]:
isinstance(x,int)       ## 변수에 저장된 값과 정수 클래스과의 생성관계를 확인한다

True

In [4]:
y = 1.1                        ## 실수 리터럴 표기법으로 변수에 실수를 할당한다.

In [6]:
isinstance(y,float)     ## 실수 클래스와 객체와의 생성관계를 확인한다.

True

#### 생성자 이용

In [7]:
a = float(1)                  ## 실수 클래스 float을 호출해서 실수 객체를 만든다.

In [8]:
a

1.0

In [9]:
b = int(a)                    ## 정수 클래스 int를 호출해서 정수 객체를 만든다.

In [10]:
b

1

In [11]:
float('1.1'), int('1')

(1.1, 1)

In [12]:
'1.1'.isdigit()      ## 문자열 내의 숫자만 구성했는지를 isdigit 메소드로 확인한다.

False

In [13]:
try :
    int('1.1')                                                 ## 문자가 들어간 문자열은 정수로 변환이 되지않는다.
except Exception as e :
    print(e)

invalid literal for int() with base 10: '1.1'