## 예제 4-3-1  자료형 객체 만들기

In [1]:
import pandas as pd            ## 판다스 모듈을 사용한다.

In [2]:
import numpy as np            ## 넘파이 모듈을 사용한다.

In [17]:
data = [[1,3],[4,5]]                 ##  리스트 내에 리스트를 넣어서 리스트를 만든다.

In [19]:
columns = ['A','B']                  ## 열의 레이블을 리스트로 만든다.

In [21]:
df_ = pd.DataFrame(data=data, columns=columns)         ## 데이터프레임의 data와 columns 매개변수에 지정해서 객체를 만든다.

In [22]:
df_.dtypes                                      ## 데이터프레임의 열의 자료형을 dtypes 속성으로 확인한다.
                                                ## 두 개의 열에 대한 자료형을 별도로 표시한다.

A    int64
B    int64
dtype: object

In [30]:
df_c = df_.astype({'A': str, 'B': np.int32})      ## 데이터프레임의 두 열의 자료형을 astype 메소드로 변경한다.
                                                  ##  딕셔너리에 열의 이름을 키로하고 자료형을 값으로 넣어서 실행한다.

In [31]:
df_c.dtypes                                       ## 변경된 데이터프레임을 dtypes로 조회한다.
                                                  ## A 열은 문자열이라 object, B열은 int32로 변경된다.

A    object
B     int32
dtype: object

In [10]:
df = pd.DataFrame({'A':pd.Series([1,2,3], dtype='int'),             ## 딕셔너리 내의 키는 문자열로 지정하고 값은 시리즈 객체로 만든다
                   'B':pd.Series([7,8,9], dtype='float')})          ## 이를 데이터프레임에 인자로 전달해서 객체를 만든다. 
                                                                    ## 시리즈 객체를 만들 때 dtype 매개변수에 문자열로 int와 float을 
                                                                    ## 지정했다.

In [11]:
df.dtypes                              ## 열의 자료형을 조회하면 딕셔너리의 키는 열의 레이블이고 실제 값들의 열에 들어간다.
                                       ## 문자열 int는 int32이고 문자열 float는 float64로 변환된다.

A      int32
B    float64
dtype: object

In [12]:
data = pd.DataFrame({'date':[2016, 2017, 2018, 2019],    ## 딕셔너리에 키와 값만 지정해서 데이터프레임 객체를 만든다. 
                     'type':['A', 'B', 'A', 'C']})

In [13]:
data

   date type
0  2016    A
1  2017    B
2  2018    A
3  2019    C

In [14]:
data.dtypes                              ## 열의 자료형을 확인하면 data는 int64이고 type은 object로 변환한다.
                                         ## 자료형을 지정하지 않아도 내부적으로 판단해서 최적의 자료형을 지정한다.

date     int64
type    object
dtype: object

In [15]:
data['date'] = data['date'].astype('float64')             ## date 열의 자료형을 astype 메소드에 float64를 인자로 전달해서 변환한다. 
                                                          ## date 열의 값도 변경하려면 date열에 변환시킨 값을 할당한다.

In [16]:
data.dtypes                                               ## 데이터프레임을 확인하면 자료형이 변환된 것을 알 수 있다.

date    float64
type     object
dtype: object