## 예제 4-2-1  데이터프레임  알아보기

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.25.1'

In [3]:
                                               ## 판다스에서 2차원 배열은 데이터프레임 클래스로 만든다.
df = pd.DataFrame([[1,2,3,4],[5,6,7,8]],       ## 첫번째 인자는 2차원 리스트이다. 
                  index=list('ab'),            ## 행의 레이블을 리스트로 지정한다. 
                  columns=list('abcd'))        ## 열의 레이블을 리스트로 지정한다

In [4]:
df                                             ## 데이터프레임 객체를 보면 행과 열의 레이블이 있고 2행4열의 데이터가 있다.

   a  b  c  d
a  1  2  3  4
b  5  6  7  8

In [5]:
df.values                                     ## values 속성을 확인하면 다차원 배열로 관리한다.

array([[1, 2, 3, 4],
       [5, 6, 7, 8]], dtype=int64)

In [6]:
type(df.values)

numpy.ndarray

In [7]:
df.index                                  ## 행의 레이블은 Index 클래스의 객체이다.

Index(['a', 'b'], dtype='object')

In [8]:
df.columns                                    ## 열의 레이블도 또한 Index 클래스의 객체이다

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
df.shape, df.ndim, df.size

((2, 4), 2, 8)

In [10]:
try :
    df[0]                               ## 시리즈와 차이점은 색인연산은 열을 기준으로 처리한다. 
except Exception as e :
    print(e)

0

In [11]:
df['a']                           ## 첫번째 열의 이름을 넣고 색인연산을 수행하면 두 개의 행을 출력한다. 
                                  ##  데이터프레임의 하나의 열은 시리즈 객체이다.

a    1
b    5
Name: a, dtype: int64

In [12]:
df.loc['a']                  ## 행을 조회할 때는 loc 인덱서를 기준으로 조회한다. 첫번째 행의 이름인 a를 지정해서 조회한다. 
                             ## 데이터프레임의 하나의 행도 시리즈 객체이다.

a    1
b    2
c    3
d    4
Name: a, dtype: int64

In [13]:
df.loc['a',:]               ## 하나의 행을 조회하는 것은 행의 이름 하나와 모든 열을 슬라이스하는 것과 같다.

a    1
b    2
c    3
d    4
Name: a, dtype: int64

In [14]:
df.loc['a':,'b':'c']               ## 모든 행을 슬라이스하고 열은 b와 c를 슬라이스하면 레이블이름에  해당하는 열이 전부 조회된다.
                                   ## 두 개의 열을 조회해서 1차원인 시리즈가 아닌 2차원인 데이터프레임이다.

   b  c
a  2  3
b  6  7

In [15]:
dfv = df.loc['a':,'b':'c']        ## 행과 열을 기준으로 조회한 결과를 변수에 할당한다.

In [16]:
import numpy as np

In [28]:
np.may_share_memory(dfv,df)      ##  시리즈에서 슬라이스 검색의 결과는 뷰였다. 
                                 ## 데이터프레임도 슬라이스 검색은 뷰를 제공해서 원본과 동일한 메모리를 공유한다.

True

In [18]:
dfv

   b  c
a  2  3
b  6  7

In [19]:
dfv['b'] = 100                 ## 슬라이스 검색한 열을 갱신한다.
                               ## 하나의 열을 갱신하면 열의 모든 원소를 갱신한다.

In [20]:
dfv

     b  c
a  100  3
b  100  7

In [21]:
df                       ## 원본을 확인하면 b열이 변경된 것을 알 수 있다.

   a    b  c  d
a  1  100  3  4
b  5  100  7  8

In [22]:
df.iloc[0]             ## 행과 열의 조회를 정수 인덱스로도 검색을 할 수 있다.
                       ## iloc 인덱서에 정수 0을 넣어서 첫번째 행을 조회한다.

a      1
b    100
c      3
d      4
Name: a, dtype: int64

In [23]:
df.iloc[0,0]             ## 하나의 행과 하나의 열을 지정하면 하나의 원소를 가져온다

1

In [24]:
s = df.iloc[:,0]            ## 첫번째 인자에 모든 행을 슬라이스처리하고  두번째 인자에 0을 넣으면 하나의 열을 조회한다

In [25]:
s

a    1
b    5
Name: a, dtype: int64

In [26]:
import numpy as np

In [27]:
np.may_share_memory(s, df)       ## 인덱서로 조회한 슬라이스 결과도 뷰를 제공한다.

True